.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  size: 290px;
  list-style-type: none;
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13vh;
  width: 23vh;
  height: 23vh;
  border: 3px solid var(--light-blue);
  border-collapse: collapse;
}

.row, .cell { 
  padding: 0; 
  margin: 0;
}

/*Top and bottom borders*/
.table .row:nth-child(1) .cell {border-top-color:  var(--black);}
#row3 {border-bottom-color: var(--black);}

/*Left and right borders*/
.table .row .cell:nth-child(1) {border-left-color: var(--black);}
.table .row .cell:nth-child(3) {border-right-color: var(--black);}
