@import url("./main.css");

html, body, section#board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    width: 290px;
    height: 290px;
}

header, td {text-align: center;}

table, td {
    border: 3px solid var(--light-blue);
    border-collapse: collapse;
}

tr, td { padding: 0; margin: 0;}

tr td {
    width: 95px;
    height: 95px;
}

#row-1 td {border-top-color:  var(--black);}
table tr td:nth-child(1) {border-left-color: var(--black);}
table tr td:nth-child(3) {border-right-color: var(--black);}
#row-3 td {border-bottom-color:  var(--black);}

table tr td img {
    width: 58px;
}